@media (min-width: 1200px) {
    .container {
        width: 1070px;
    }
}

@font-face {
    font-family: 'ProximaNova Regular';
    src: url('../fonts/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/ProximaNova-Regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/ProximaNova-Regular.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/ProximaNova-Regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/ProximaNova-Regular.svg') format('svg');
}

@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../fonts/ProximaNova-Bold0.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova-Bold0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/ProximaNova-Bold0.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/ProximaNova-Bold0.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/ProximaNova-Bold0.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/ProximaNova-Bold0.svg') format('svg');
}

@font-face {
    font-family: 'ProximaNova Light';
    src: url('../fonts/proxima-nova-light-58bd39c96a399.eot'); /* IE9 Compat Modes */
    src: url('../fonts/proxima-nova-light-58bd39c96a399.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/proxima-nova-light-58bd39c96a399.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/proxima-nova-light-58bd39c96a399.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/proxima-nova-light-58bd39c96a399.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/proxima-nova-light-58bd39c96a399.svg') format('svg');
}

body {
    font-family: 'ProximaNova Regular', sans-serif;
    font-family:  Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    /*font-size: 16px;*/
}

h1, h2, h3, h4 {
    margin: 0;
}
h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    margin: 0px 0px 10px 0px;
}

h3 {
    font-size: 22px;
    margin: 0px 0px 10px 0px;
}

p {
    margin-bottom: 0;
}

a {
    color: #ef6c65;
}

.form-check-input, .form-radio-input {
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin: 0px 10px;
    padding: 0;
    outline: 0;
}

.form-check, .form-check label {font-size: 16px; font-weight: bold;}

.btn-primary {
    background: #ef6c65;
    border-color: #ef7c61;
}

.btn-primary:hover {
    background: #000000;
}

.btn-primary.btn--lg {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 18px 49px;
}

.btn-primary.btn--orange {
    color: #fff;
    background-color: #d43a32;
    border-color: #d43c34;
    border-radius: 0;
    font-family: 'ProximaNova Light';
    /*-webkit-box-shadow: 1px 2px 33px #000;*/
    /*-moz-box-shadow: 1px 2px 33px #000;*/
    /*box-shadow: 1px 2px 33px #000;*/
    text-transform: uppercase;
    line-height: 1;
}

.btn-primary.btn--orange:hover, .btn-primary.btn--orange:active, .btn-primary.btn--orange:focus {
    color: #fff;
    background-color: #d2463f;
    border-color: #d43c34;
    outline: 0;
}

.btn-primary.btn--orange:active {
    -webkit-box-shadow: 0px 0px 0px #000;
    -moz-box-shadow: 0px 0px 0px #000;
    box-shadow: 0px 0px 0px #000;
}

.btn-link {
    color: #ef6c65;
}

.navbar-nav > li > .dropdown-menu {
    background: #000000;
    border: #000000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #ef6c65;
}
.dropdown-menu > li{
    padding: 5px 0px;
}
.dropdown-menu > li > a {
    color: #FFFFFF;
    font-size: 15px;
}

.download-menu > li > a:hover {
    color: #ef6c65;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background: #000000;
    color: #ef6c65;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'ProximaNova Regular';
    color: #070707;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 10px;
    letter-spacing: 1px;
}

.navbar-default {
    background-color: #000000;
    /*background: #FFFFFF;*/
    /*padding-bottom: 10px;*/
}

.navbar-default .navbar-nav > li:first-child a,
.navbar-default .navbar-nav > li:last-child a {
    /*color: #d23b30;*/
    /*color: #FFFFFF;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a {
    color: #ef6c65;
    background-color: #FFFFFF;
    background: #000000;
}

.navbar-default .navbar-nav > li.active > a:hover {
    color: #ef6c65;
    /*background: #FFFFFF;*/
    background: #000000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin: auto;
}

.navbar-brand {
    height: 100px;
    padding: 34px 15px;
}

.navbar-brand > img {
    max-width: 60px;
    border-radius: 10px;
}
.navbar-header a{}
/*.dropdown-menu {background: none;}*/

.breadcrumb {
    background: none;
    padding: 0px 17px;
    margin-bottom: 0px;
}

#home .hero { min-height: 130px; overflow: hidden;}
.hero { min-height: 125px; overflow: hidden;}
.hero img { align-content: center; width: 100%;}
.page-header {margin-top: 10px;}
h1.page-header {color: #3b3b3b;}


.carousel-caption { background: #333333;
    opacity: 0.8;}

.carousel-caption h2 a{
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}
.carousel-caption p {
    padding: 10px;
}
.carousel-caption p a {
    color: #FFFFFF;
    font-size: 15px;
}



.single-container {
    min-height: 400px;
    margin-bottom: 40px;
}

.single-container ul, .single-container ol {
    padding: 0px;
    margin: 15px;
}

.single-container ul li, .single-container ol li {
    padding: 2px 0px;
}

.single-container p, .single-container ul li, .single-container ol li {
    font-size: 17px;
    color: #808080;
    line-height: 25px;
}

.single-container #partners ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-container #partners ul li {
    width: 300px;
    height: 150px;
    border: 1px solid #f5f5f5;
    margin: 5px;
    /*margin: auto;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    position: relative;
}

.single-container #partners ul li img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
}

.single-container img {margin-right:10px; }

.single-container div, .single-container pre {
    font-size: 17px;
    color: #808080;
    line-height: 25px;
}

label.col-form-label {padding-right: 7px; padding-left: 7px; font-size: 16px;}

.single-container pre {
    line-height: 17px;
}
#abta p{
    font-size: 12px;
    font-style: italic;
    margin-top: 20px; }

#features {
    /*background: url(../assets/images/background-1.jpg) no-repeat center center /cover;*/
    /*padding-top: 100px;*/
    color: #fff;
    padding-bottom: 30px;

}

.top-logo img {
    width: 100%;
    max-width: 635px;
    margin: auto;
}

.top-logo {
    margin-bottom: 57px;
}

.btn-gray {background: #4e555b; border: solid 1px #4e555b;}

/*
*/

.newsletter-alert-success{

}



footer {
    background: #000000;
    color: #333;
    font-size: 12px;
    padding: 15px 0;
    border-bottom: 5px #333 solid;
}


.footer-logo img {
    width: 100%;
    max-width: 80px;
}

.footer-social {
    text-align: right;
    padding-top: 5px;
}

.footer-social a {
    text-decoration: none;
    padding: 0 7px;
    display: inline-block;
}

.footer-social a i {
    font-size: 32px;

    color: #FFFFFF;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.footer-social a:hover i {
    color: #ef6c65;
}

p.copyright {
    font-size: 12px;
    color: rgba(209, 210, 196, 1);
    padding-top: 15px;
}

.angle-shape {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

#contact-banner {
    background: url(../assets/images/contact-bk.jpg) no-repeat center center /cover;
    padding-top: 90px;
    padding-bottom: 150px;
    position: relative;
}

.contact-banner-top {
    margin-bottom: 50px;
}

.contact-banner-top h1 {
    font-family: 'ProximaNova Light';
    font-size: 55px;
    color: #d43a32;

}

#contact-us-btns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: -webkit-center;
}

#contact-us-btns .btn {
    margin-bottom: 10px;
}

.top-social {
    text-align: right;
    margin-top: 11px;
}

.top-social a {
    text-decoration: none;
    color: #fff;
    margin: 0 4px;
}

.top-social a i {
    font-size: 40px;
    color: #fff;
}

.contact-banner-mid {
    margin-bottom: 230px;
}

.contact-banner-mid p {
    font-family: 'ProximaNova Light';
    font-size: 40px;
    color: #fff;
}

.contact-banner-mid p i {
    margin-right: 10px;
}

.contact-banner-bottom {
    text-align: right;
}

#contact-address {
    padding-top: 85px;
    padding-bottom: 50px;
}

.contact-address-single {
    margin-bottom: 30px;
}

.contact-address-single h3 {
    font-family: 'ProximaNova Bold';
    color: #d43a32;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-address-single p {
    font-family: 'ProximaNova Light';
    font-size: 16px;
    color: #626262;
}

.contact-address-single h3 + p {
    font-family: 'ProximaNova Bold';
    color: #7c7c7c;
}

#google-map {
    height: 658px;
}

.n-prev {
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 99999999;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 9999;
}

.n-next {
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 99999999;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 9999;
}

.slider-wrapper .owl-carousel .owl-item img {
    width: auto;
    max-width: 100%;
    margin: auto;
}

.banner-slider {
    background: url(../assets/images/background-v2.jpg) no-repeat center center /cover;
    padding-top: 100px;
    padding-bottom: 158px;
    /*padding-bottom: 87px;*/
    /*padding-top: 79px;*/
    position: relative;
    max-height: 330px;
}

.support-slider {
    background: url(../assets/images/lifebelt.jpg) no-repeat center center /cover;
    padding-top: 100px;
    padding-bottom: 158px;
    /*padding-bottom: 87px;*/
    /*padding-top: 79px;*/
    position: relative;
    max-height: 430px;
}

.support-slider .review {
    height: 100%;
}

/*.support-slider .review {margin: 100px;}*/

.support-slider .item {
    float: left;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.support-slider .review #desc {
    width: 100%;
    height: 304px;
}

.support-slider .review #desc .feature_header {
    color: #d43a31;
}

.banner-slider.fgbg2 {
    background: url(../assets/images/background-v2.jpg) no-repeat center left /cover;
    padding-top: 60px;
    padding-bottom: 302px;
    /*padding-bottom: 87px;*/
    /*padding-top: 79px;*/
    position: relative;
    max-height: 650px;
}

.nav-slider i {
    font-size: 45px;
    color: #d43a31;
}

#about-banner {
    background: url(../assets/images/about-bk-1.jpg) no-repeat center center /cover;
    position: relative;
    padding-top: 89px;
    padding-bottom: 128px;
}

.about-banner-top img {
    width: 100%;
    max-width: 610px;
}

.about-banner-top .top-social {
    margin-top: 0px;
}

.about-banner-mid p {
    font-family: 'ProximaNova Light';
    font-size: 50px;
    color: #fff;
    line-height: 1.1;
    width: 100%;
    max-width: 436px;
    margin-top: 65px;
    margin-bottom: 75px;
}

.monitor-img {
    text-align: right;
}

.monitor-img img {
    width: 100%;
    max-width: 500px;
}

.arcs-video iframe {
    width: 496px;
    height: 274px;
    margin-top: 65px;
    max-width: 100%;
}

.about-banner-mid .btn-primary.btn--lg {
    padding: 18px 101px;
}

.author-img {
    /*width: 115px;*/
    width: auto;
    height: 115px;
    overflow: hidden;
    float: left;
}

.testimonial-slider {
    padding-top: 64px;
    padding-bottom: 50px;
}

.testimonial-slider .review {
    /*width: 100%;*/
    max-width: 760px;
    margin: auto;
}

.clients .review {
    border: 1px solid #f3f3f3;
}

.partners .review {
    border: 1px solid #f3f3f3;
}

.review .author-img img {
    width: 115px;
    /*width: auto;*/
    /*height: 115px;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
    object-fit: cover;

}

.author-text {
    width: 100%;
    max-width: calc(100% - 115px);
    padding-left: 20px;
    /*float: left;*/
    text-align: left;
}

.author-text p {
    font-family: 'ProximaNova Light';
    font-size: 24px;
    color: #333333;
    margin-bottom: 40px;
}

.author-text p.author-name {
    font-family: 'ProximaNova Bold';
}

.review .author-text p {
    font-family: 'ProximaNova Light';
    font-size: 24px;
    color: #333333;
    margin-bottom: 0px;
}

.review .author-text p.author-name {
    font-family: 'ProximaNova Bold';
}

.testimonial-slider .nav-slider i {
    color: #d1d2c4;
}

.testimonial-slider .n-prev {
    top: 37%;
    top: 0%;
}

.testimonial-slider .n-next {
    top: 37%;
    top: 0%;
}

.testimonial-slider h2 {
    font-family: 'ProximaNova Light';
    font-size: 50px;
    color: #d43a31;
    margin-bottom: 70px;
}

.partners h2 {
    margin-bottom: 20px;
}


.thumb-slide {
    width: 100%;
    max-width: 736px;
    margin: auto;
}

.thumb-slide .review img {
    height: 110px;
}

/***
**Siva styles
*****/
.root-container {
    min-height: 400px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover,
.nav > li > a:focus, .nav > li > a:hover {
    background: #FFFFFF;
    background: #000000;
}

.navbar-default {
    padding: 10px 0px;
    border-radius:0px;
    border: 0px;
}

.navbar-toggle {
    margin-top: 20px;
}

.navbar-brand {
    height: 80px;
    padding: 15px 15px;
}


.strap_line {
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0px;
    margin-top: 9px;
}

.item {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.review {
    margin: 10px;
    display: -webkit-inline-box;
}

.review #icon {
    padding-right: 30px;
}

.review #icon img {
    max-width: 85px;
    width: 100%
}

.review #desc img {
    max-width: 150px;
    width: 100%
}

.banner-slider.fgbg2 .review #desc img {
    max-width: 400px;
    width: 100%
}

.banner-slider.fgbg2 h1 {
}

.banner-slider.fgbg2 h1,
.banner-slider.fgbg2 h2 {
    margin-top: 60px;
    color: #FFFFFF;
}

sup {
    top: -.2em;
}

.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-gap: 50px;
}

h3 {
    color: #666666;
    padding-top: 5px;
    padding-bottom: 5px;
}


.clean-bg {
    background: #ffffff;
    margin: 10px 0px;
    padding: 0px;

}


.post__image {
    display: block;
    width: 100%;
}

.post__image img {
    display: block;
    width: 100%;
}

.card .post__content.truncate {
    white-space: normal !important;
    max-height: 375px;
    /*margin-bottom: 1.25rem;*/
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.card .post__content_full.truncate {
    white-space: normal !important;
    max-height: none;
    /*margin-bottom: 1.25rem;*/
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.text--gray {
    color: #A1A1A1 !important;
}

.post__footer {
    padding: 10px 10px;
    border-top: 1px solid #E8E8E8;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    box-pack: justify;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    box-align: end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.byline {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.byline p {
    padding: 2px 0px !important;
}

.byline-authors {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.byline-author {
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;
    margin: 10px;
}

.byline-author-img {
    width: auto;
    height: auto;
    margin: 0px 10px;
}

hr {
    margin: 10px 0px;
}

#list-partners {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

label {
    font-weight: normal;
}